<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render :partial => "shared/user_info" %>
      <br>
      <%= render :partial => "shared/user_tabs", :locals => { :selected_item => '我的收藏' } %>

      <table class="table table-hover user-table">
        <tbody>
          <% @user_collect.each do |post| %>
            <tr id="<%= post.id %>">
              <td><%= link_to post.title, post_path(post) %></td>
              <td>
                <span class="favorite-btn glyphicon glyphicon-heart text-danger"></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
$(".favorite-btn").on("click", function(event) {
  var post_id = event.target.parentNode.parentNode.id;
  console.log(post_id);
  if(window.confirm("確定刪除收藏?")) {

    $.ajax({
      url: "/posts/" + post_id + "/unfavorite" ,
      method: "POST",
      dataType: "json",
      success: function() {
        $(".table").find("#" + post_id).remove();
      }
    });
  }
});
</script>