<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render :partial => "shared/user_info" %>
      <br>
      <%= render :partial => "shared/user_tabs", :locals => { :selected_item => '我的收藏' } %>

      <table class="table table-hover user-table">
        <tbody>
          <% @user_collect.each do |post| %>
            <tr>
              <td><%= link_to post.title, post_path(post) %></td>
              <td>
                <%= render partial: "shared/favorite", locals: {post: post} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>