<ul class="admin-tab clearfix">
  <li role="presentation" class="<%= 'active' if selected_item == 'Category List' %>"><%= link_to "Category List", admin_categories_path %></li>
  <li role="presentation" class="<%= 'active' if selected_item == 'User List' %>"><%= link_to "User List", admin_users_path %></li>
</ul>