<div class="container">
  <h1>論壇前台</h1>
  <div class="row">
    <div class="col-md-12">
      <div>
        <%= link_to 'New post', new_post_path, class: "btn btn-primary" %>
      </div>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Replies count</th>
            <th>Title</th>
            <th>Last replied at</th>
            <th>Viewed count</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          
          <tr>
            <td><%= post.id %></td>
            <td>
              <%= link_to post_path(post) do %>
                <%= post.title %>
              <% end %>
            </td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">

      </div>

    </div>

  </div>
</div>