a {
  text-decoration: none !important;
  display: inline-block;
}

/* ============================== 01. main-tab =========================*/
.main-tab{
  margin: 35px 0;
  text-align: center;
}

.main-tab li{
  float: none;
  display: inline-block;
}

.main-tab li a{
  margin: 0;
  padding: 10px 30px;
  border-radius: 0px;
  border-bottom: 1px solid;
  border-color:   #d1e9e9;
  color: #696969;
}

.main-tab > li.active > a,
.main-tab > li.active > a:hover,
.main-tab > li.active > a:focus{
  color: #000;
  background-color: white;  
  border-bottom: 5px solid;
  border-color: darkcyan;
  font-weight: bold;
}

/* ============================== 02. user-tab =========================*/
.user-tab{
  margin: 35px 0;
  text-align: center;
}

.user-tab li{
  float: none;
  display: inline-block;
}

.user-tab li a{
  margin: 0;
  padding: 10px 30px;
  border-radius: 0px;
  border-bottom: 1px solid;
  border-color:#f5f5f5;
  color: #696969;
}

.user-tab > li.active > a,
.user-tab > li.active > a:hover,
.user-tab > li.active > a:focus{
  color: #000;
  background-color: white;  
  border-bottom: 5px solid;
  border-color:#708090;
  font-weight: bold;
} 